<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Recipes</title>
    <link rel="icon" href="../static/images/logo.svg" type="../static/image/svg+xml" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/findRecipes.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="index.html" class="header__logo" target="main">
          <img src="../static/images/logo.svg" alt="Eatly Logo" class="header__logo-icon" />
          <span class="header__logo-text">Eatly</span>
        </a>
        <nav class="header__nav">
          <ul>
            <li>
              <button
                type="button"
                class="header__nav-recipes"
                onclick="window.location.href='/recipes'">
                Рецепти
              </button>
            </li>
            <li>
              <button
                type="button"
                class="profile-btn"
                onclick="window.location.href='/settings'">
                <img src="../static/images/Profile.svg" alt="Profile" />
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="search-section">
        <form method="POST" action="{{ url_for('recipes') }}" class="search-bar">
          <input type="text" class="search-bar__input" name="ingredients" placeholder="Показувати рецепти з..." />
          <button type="submit">Пошук
            <svg
            class="search-bar__icon"
            width="23"
            height="24"
            viewBox="0 0 23 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="8" stroke="#A8C958" stroke-width="2" />
            <path d="M16 16L21 21" stroke="#A8C958" stroke-width="2" stroke-linecap="round" />
             </svg>
          </button>
        </form>

        <div class="tags">
          <div class="tag">
            <span class="tag__text">Яйця</span>
            <button class="tag__remove">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4 4L12 12M12 4L4 12"
                  stroke="#F5F5F5"
                  stroke-width="1.6"
                  stroke-linecap="round" />
              </svg>
            </button>
          </div>
          <div class="tag">
            <span class="tag__text">Макарони</span>
            <button class="tag__remove">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4 4L12 12M12 4L4 12"
                  stroke="#F5F5F5"
                  stroke-width="1.6"
                  stroke-linecap="round" />
              </svg>
            </button>
          </div>
        </div>
      </section>

      <section class="grid-recipes">
        {% if recipes %}
        {% for recipe in recipes}
        <a href="{{ url_for('recipe_details') }}" class="recipe-card">
          <img src="../static/images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>{{recipe.name}}</h3>
            <p>{{recipe.calories}} ккал</p>
          </div>
        </a>
        {% endfor %}
        {% else %}
          <p>Рецептів не знайдено.</p>
        {% endif %}
      </section>

    </main>

    <footer>
      <div class="footer__content">
        <div>
          <img class="footer__logo" src="../static/images/logo.svg" alt="Eatly Logo" />
          <span class="footer__logo-text">Eatly</span>
        </div>
        <div class="footer__links">
          <a href="#" class="footer__link">Контакти</a>
          <a href="#" class="footer__link">Про нас</a>
        </div>
      </div>
    </footer>
  </body>
</html>
