<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Recipes</title>
    <link rel="icon" href="images/logo.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/findRecipes.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="index.html" class="header__logo" target="main">
          <img src="images/logo.svg" alt="Eatly Logo" class="header__logo-icon" />
          <span class="header__logo-text">Eatly</span>
        </a>
        <nav class="header__nav">
          <ul>
            <li>
              <a class="header__nav-recipes" href="findRecipes.html" target="findrecipes">
                Рецепти
              </a>
            </li>
            <li>
              <a href="#"><img src="images/Profile.svg" alt="Profile" /></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="search-section">
        <div class="search-bar">
          <input type="text" class="search-bar__input" placeholder="Показувати рецепти з..." />
          <svg
            class="search-bar__icon"
            width="23"
            height="24"
            viewBox="0 0 23 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="8" stroke="#A8C958" stroke-width="2" />
            <path d="M16 16L21 21" stroke="#A8C958" stroke-width="2" stroke-linecap="round" />
          </svg>
        </div>
        <div class="tags">
          <div class="tag">
            <span class="tag__text">Яйця</span>
            <button class="tag__remove">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4 4L12 12M12 4L4 12"
                  stroke="#F5F5F5"
                  stroke-width="1.6"
                  stroke-linecap="round" />
              </svg>
            </button>
          </div>
          <div class="tag">
            <span class="tag__text">Макарони</span>
            <button class="tag__remove">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4 4L12 12M12 4L4 12"
                  stroke="#F5F5F5"
                  stroke-width="1.6"
                  stroke-linecap="round" />
              </svg>
            </button>
          </div>
        </div>
      </section>

      <section class="grid-recipes">
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
        <a href="" class="recipe-card">
          <img src="images/food1.png" alt="Recipe" class="recipe-card__image" />
          <div class="recipe-card__content">
            <h3>Рецепт</h3>
            <p>0 ккал</p>
          </div>
        </a>
      </section>
    </main>

    <footer>
      <div class="footer__content">
        <div>
          <img class="footer__logo" src="images/logo.svg" alt="Eatly Logo" />
          <span class="footer__logo-text">Eatly</span>
        </div>
        <div class="footer__links">
          <a href="#" class="footer__link">Контакти</a>
          <a href="#" class="footer__link">Про нас</a>
        </div>
      </div>
    </footer>
  </body>
</html>
