.search-bar {
  position: relative;
  width: 560px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 12px;
}

.search-bar__input {
  width: 100%;
  border-radius: 37px;
  background-color: #f3e7cf;
  border: none;
  padding: 12px 50px 12px 20px;
  font-size: 17px;
  box-sizing: border-box;
}

.search-bar__input::placeholder {
  color: #d8b97b;
  font-size: 17px;
}

.search-bar__icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  cursor: pointer;
}

.tags {
  display: flex;
  gap: 3px;
  width: 560px;
  margin: 0 auto;
}

.tag {
  background-color: #2c2c2c;
  border-radius: 17px;
  color: #fff;
  padding: 3px 5px;
  font-size: 14px;
}
.tag__remove {
  vertical-align: sub;
}

.grid-recipes {
  width: 1300px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-auto-rows: auto;
  gap: 5px;
  margin: 7px auto;
}

.recipe-card {
  position: relative;
  transition: transform 0.3s ease;
}

.recipe-card__content {
  position: absolute;
  bottom: 22px;
  left: 20px;
  color: #fff;
  z-index: 2;
  line-height: 1.1;
}

.recipe-card:hover {
  transform: translateY(-5px);
}
