.profile-nav {
  margin: 35px auto;
  border-radius: 37px;
  background-color: #f3e7cf;
  padding: 12px 10px;
  display: flex;
  justify-content: space-evenly;
  width: 560px;
  font-size: 17px;
}
.profile-nav__item--active {
  font-weight: 700;
}

.profile-form {
    background-color: #FAF3E5;
    padding: 30px 40px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
    width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin: 35px auto;
}
.profile-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-form input,
.profile-form select {
    appearance: none;       
    -webkit-appearance: none;
    -moz-appearance: none;  

    width: 100%;
    padding: 20px 25px;
    border-radius: 50px;
    border: none;
    background-color: #f3e7cf;
    font-size: 16px;
    color: #386641b8;
    box-sizing: border-box;
}

.profile-form input[readonly],
.profile-form select[disabled] {
    color: #386641;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    margin: 35px auto;
}

button {
    margin: auto;
    padding: 20px 40px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-btn {
    background-color:  rgba(168, 201, 88, 0.59);
}

.save-btn {
    background-color: #a8c958;
    display: none;
}

.delete-btn {
    background-color: #bb474994;
}

button:hover {
    opacity: 0.9;
}